body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.col {
    height: 100vh;
    /* На время, не забыть убрать */
}

.col-r {
    background-color: #f5f5f5;
}

.emulator .picture-input button{
   display: none;
}

.emulator .avatar {
    border-radius: 100px !important;
    height: 100px !important;
    width: 100px !important;
    margin: inherit !important;
}

.emulator .avatar .picture-inner {
    border: none !important;
}
.photos{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.photo{

}
.emulator{
   height: 520px;
   width: 312px;
   margin: 0 auto;
}
