body {
    margin: 0px;
}

@font-face {
    font-family: "HKGroteskBold";
    src: url("../src/fonts/HKGrotesk-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "HKGrotesk";
    src: url("../src/fonts/HKGrotesk-Regular.ttf") format("truetype")
}

.container {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.col-r {
    background-color: #f5f5f5;
    height: 100vh;
}

.content {
    padding: 20px 50px;
}
.emulator .picture-input button {
    display: none;
}

.emulator {
    font-family: Segoe UI;
    font-size: .85em;
}

.emulator .avatar .preview-container {
    border-radius: 100% !important;
    height: 67px !important;
    width: 67px !important;
    margin: inherit !important;
    max-width: 67px;
}

.emulator .avatar .picture-inner {
    border: none !important;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.emulator {
    width: 276px;
    background-color: #f5f5f5;
    position: relative;
    background-image: url(../src/img/back.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -78px -7px;
    padding: 80px 137px 0px;
    margin: 20px auto;
    height: 100%;
}

.buttons a {
    display: block;
    min-height: 25px;
    min-width: 29px;
    float: left;
    margin-top: -21px;
    background: #3797f0;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    font-family: Segoe UI Semibold;
}

.buttons {
    margin-left: 77px;
}

.follow {
    width: 79%;
    margin-right: 5px;
}

.emulator ul li {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: #9f9f9f;
}

.emulator ul li span {
    display: block;
    font-weight: 600;
    color: #000;
}

.emulator ul {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.picture-inner .picture-inner-text {
    font-size: 5em !important;
}

.profile-grid,
.profile-list,
.profile-marks {
    background-image: url(../src/img/bundle2.png);
    height: 24px;
    width: 24px;
    display: inline-block;
}

.profile-grid {
    background-position: 375px -18px;
}

.profile-list {
    background-position: 229px -18px;
}

.profile-marks {
    background-position: 85px -18px;
}

.profile-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.profile-buttons a {
    height: 24px;
    line-height: 24px;
    padding: 10px;
}

.profile-info,
.profile-header {
    padding: 10px 5px
}

.profile-info .name {
    font-weight: 600;
}

.profile-info .link {
    color: #00509f;
}

.content h1 {
    font-family: "HKGroteskBold";
    font-size: 35px;
}

.content h2 {

    font-family: "HKGrotesk";
    font-size: 15px;
    margin: 5px 0px;

}
.content input {
   font-family: "HKGrotesk";
   text-indent: 20px;
   font-weight: 300;
   font-size: 22px;
   height: 39px;
   width: 300px;
   border-radius: 2px;
   border: 1.5px solid #e8e8e8;
}
.big-emoji{
   font-size: 50px;
}
h8{

    font-size: 14px;
    border-top: 1px solid #dadada;
    display: block;
    width: 60%;
    margin-top: 17px;
    padding: 30px 10px;
    color: #b3b3b3;

}
h8 a{
    color: #6c6c6c;
    text-decoration: none;
   transition: all .5s;
}
h8 a:hover{
   color: #959595;
   transition: all .5s;
}
