<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://unpkg.com/vue-picture-input@2.1.6/umd/vue-picture-input.js"></script>
</head>

<body>
    <div id="root">
        <div class="container">
            <div class="col col-l">
                <div class="content">
                    <h1>Instagram profile previewer</h>
                        <h2>Name</h2>
                        <input type="text" placeholder="Marina" v-model="profileName"></input>
                        <br>
                        <h2>Description</h2>
                        <input type="text" placeholder="Prosto Sahar" v-model="profileDesc"></input>
                        <br>
                        <h2>Link</h2>
                        <input type="text" placeholder="https://web-juice.ru" v-model="profileLink"></input>
                        <br>
                </div>

            </div>
            <div class="col col-r">

                <div class="emulator">
                    <header class=" ">
                        <div class="">
                            <div class="profile-header">
                                <ul>
                                    <li>
                                        <picture-input class="avatar" width="73" height="73" :custom-strings="{
                          drag: 'Avatar'
                       }"></picture-input>
                                    </li>
                                    <li><span>420</span>posts</li>
                                    <li><span>223 k</span>followers</li>
                                    <li><span>106</span>following</li>
                                </ul>
                                <div class="buttons">
                                    <a class="follow ">Follow</a>
                                    <a class="" style="font-size: 10px">&#9660;</a>
                                </div>
                            </div>
                            <div class="profile-info">
                        <span class="name">{{ profileName }}</span>
                        <br>
                        <span class="desc">{{ profileDesc }}</span>
                        <br>
                        <span class="link"><a>{{ profileLink }}</a></span>

                        </div>
                        </div>
                        <div class="profile-buttons">
                            <a class="">
                                <div class="profile-grid"></div>
                            </a>
                            <a class=" ">
                                <div class="profile-list"></div>
                            </a>
                            <a class=" ">
                                <div class="profile-marks"></div>
                            </a>
                        </div>

                        <div class="photos">
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                            <picture-input class="photo" :custom-strings="{drag: 'Photo'}"></picture-input>
                        </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        new Vue({
            el: "#root",
            data: {
                profileName: "Marina",
                profileDesc: "Prosto Sahar",
                profileLink: "web-juice.ru"
            },
            components: {
                'picture-input': PictureInput
            }
        })
    </script>
</body>

</html>
